# Build results
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio files
.vs/

# Build artifacts
*.dll
*.exe
*.pdb
*.cache
*.log

# NuGet packages
*.nupkg
packages/

# Others
*.dbmdl
*.bak
